
<h2>ISS Valiant</h2>
<h3>About</h3>
<p class="descriptions"><strong>The Interstellar Sovereign Spaceship Valiant (ISS Valiant) is a state-of-the-art cross-galaxy jumper originally designed to trek across space on research expeditions, however due to a recent mission gone awry, it is currently trapped inside the Shadow Stretch, a dark vortex of space between galaxies impossible to navigate. The crew has had no choice but to band together with what meager supplies remain in an effort to survive and find a way to return home.</strong></p>
<h3>Valiant Crew</h3>
<div class="descriptions">
  <img src="../../assets/crew-alex.jpg">
  <h4>Captain Alex Row</h4>
  <p>A dark and brooding captain enlisted in the LSN (League of Sovereign Nations) army for over a decade. The Valiant is the first ship he's captained.</p>
</div>
<br>
<div class="descriptions">
  <img src="../../assets/crew-sophia.jpg">
  <h4>First Officer Sophia Forrester</h4>
  <p>Sophia has long been at Alex's side as a devoted co-pilot and then first officer through their various missions. Sophia is grim and determined, nothing gets past her.</p>
</div>
<br>
<div class="descriptions">
  <img src="../../assets/crew-dio.jpg">
  <h4>Dio Eraclea</h4>
  <p>Dio is the most mysterious crew member, approaching everything with a playful carelessness and an apathy that's hard to decipher. He comes from an honored military family, though you wouldn't guess it from his personality.</p>
</div>
<br>
<div class="descriptions">
  <img src="../../assets/crew-claus.jpg">
  <h4>Claus Valca</h4>
  <p>Undoubtedly the most enthusiastic, optimistic, and hard-working crew member, Claus has never given up hope of returning home and helps boost ship morale as they remain stranded.</p>
</div>
<br>
<div class="descriptions">
  <img src="../../assets/crew-lucciola.jpg">
  <h4>Lucciola</h4>
  <p>Lucciola says little and keeps to Dio's side, devoted and steadfast. He will do anything to secure Dio's return to their home and refuses to give up.</p>
</div>
<br>
<div class="descriptions">
  <img src="../../assets/crew-tatiana.jpg">
  <h4>Tatiana Wisla</h4>
  <p>Tatiana is a fighter pilot and engineer more used to being in action than floating in the middle of nowhere. She is itching for action and an enemy to fight.</p>
</div>
<br>
