<br>
<h4>Filter by:</h4>
<h5>Caloric Value:
<select (change)="onCalorieChange($event.target.value)">
  <option value="allMeals">All Rations</option>
  <option value="highCalorie">High Calorie Rations</option>
  <option value="lowCalorie">Low Calorie Rations</option>
</select>
&nbsp;&nbsp;
Crew Member:
<select (change)="onCrewChange($event.target.value)">
  <option value="allMeals">All Crew Members</option>
  <option value="alex">Captain Alex Row</option>
  <option value="sophia">First Officer Sophia Forrester</option>
  <option value="dio">Dio Eraclea</option>
  <option value="claus">Claus Valca</option>
  <option value="lucciola">Lucciola</option>
  <option value="tatiana">Tatiana Wisla</option>
</select>
</h5>
<div *ngFor="let meal of meals | async | highCalorie:filterByHighCalorie | crewMember:filterByCrewMember" class="meal-box">
  <h3><span class="crew-name">{{meal.crewMember}}</span> ate:</h3>
  <p>{{meal.ration}}</p>
  <ul>
    <li>Details: {{meal.details}}</li>
    <li>Calories: {{meal.calories}}</li>
    <li>On logged date: {{meal.date}}</li>
  </ul>
</div>
