<button class="btn btn-info" (click)="showAddForm()">Log a Ration</button>
<br><br>
<div *ngIf="addFormShown" id="add-box">
  <div class="form-group">
    <label for="meal-ration">Ration:</label>
    <input #newRation type="text">
  </div>
  <div class="form-group">
    <label for="meal-details">Details:</label>
    <input #newDetails type="text">
  </div>
  <div class="form-group">
    <label for="meal-calories">Calories:</label>
    <input #newCalories type="number">
  </div>
  <div class="form-group">
    <label for="crewMember-name">Crew Member Name:</label>
    <select #newName>
      <option value="Captain Alex Row">Captain Alex Row</option>
      <option value="First Officer Sophia Forrester">First Officer Sophia Forrester</option>
      <option value="Dio Eraclea">Dio Eraclea</option>
      <option value="Claus Valca">Claus Valca</option>
      <option value="Lucciola">Lucciola</option>
      <option value="Tatiana Wisla">Tatiana Wisla</option>
    </select>
  </div>
  <div class="form-group">
    <label for="date">Date:</label>
    <input #newDate type="date">
  </div>
  <button (click)="addButtonClicked(newRation.value, newDetails.value, newCalories.value, newName.value, newDate.value)" class="btn btn-success">Submit!</button>
  <button (click)="cancelMealAdd()" class="btn btn-warning">Cancel</button>
</div>
