body {
  margin: 0;
  padding: 0;
  background: url('/assets/spaceshipint.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}
img {
  max-height: 100px;
  display: inline;
  float: left;
  margin-bottom: 1px;
  margin-right: 2px;
}

option {
  color: #1D1D1E;
}

.crew-name {
  font-family: 'Righteous', cursive;
  font-weight: bold;
  font-size: 140%;
  letter-spacing: 2px;
}

.descriptions {
  padding: 10px;
  background-color: rgba(166, 175, 218, 0.5);
  border: solid 1px #D5DAF2;
  color: #1D1D1E;
  font-family: 'Comfortaa', cursive;
  font-size: 120%;
}

.highCalorie {
  font-weight: bold;
  font-size: 120%;
  color: yellow;
}

.lowCalorie {
  font-weight: bold;
  font-size: 120%;
  color: red;
}

.meal-box {
  background: rgba(46, 47, 66, 0.6);
  border: solid 1px #575974;
  padding: 10px;
  margin: 12px;
}

.navbar-brand {
  color: #488ACB;
}

.navbar-brand:hover {
  color: white;
}

.standardCalorie {
  font-weight: bold;
  font-size: 120%;
  color: green;
}

#add-box {
  background: rgba(46, 46, 48, 0.5);
  border: solid 1px #84858C;
  padding: 12px;
  margin-bottom: 5px;
}

#all-content {
  min-height: 100%;
  position: relative;
  font-family: 'Comfortaa', cursive;
  margin-bottom: -60px;
}

#announcements {
  font-family: 'Righteous', cursive;
  background: rgba(165, 165, 167, 0.5);
  border: solid 1px #D7D7D9;
  padding: 10px;
  color: #1D1D1E;
}

#content {
  margin-top: 130px;
  color: #A5A7CC;
  padding-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  font-size: 60%;
  text-align: center;
  font-size: 14px;
  color: white;
  padding-top: 2px;
}

#header {
  background-color: #633A3D;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  display: block;
  height: 130px;
}

#ship-name {
  font-family: 'Righteous', cursive;
  font-size: 140%;
  font-weight: bold;
  color: #A5A7CC;
  text-decoration: none;
}

#ship-name:hover {
  color: #294FFC;
  text-decoration: none;
}
