body {
  margin: 0;
  padding: 0;
  background: url('/assets/spaceshipint.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#all-content {
  min-height: 100%;
  position: relative;
}

#content {
  margin-top: 130px;
  color: #A5A7CC;
  padding: 10px;
  padding-bottom: 30px;
}

#footer {
  font-size: 60%;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 14px;
  color: white;
  height: 30px;
  padding-top: 2px;
}

#header {
  background-color: #633A3D;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  display: block;
  height: 130px;
  padding: 10px;
}

#ship-name {
  font-size: 140%;
  font-weight: bold;
  color: #626493;
}
